// body, html {
//   height: 100%;
// }

// .header {
//   background-image: url('../images/dist/bg/bg.jpg');
//   height: 100%;
// }

/* BASE */
* {
  box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'gilroy', sans-serif;
  background-color: #0B1D26;
  background-image: url('../images/dist/bg/bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container {
  max-width: 1462px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-wide {
  margin: 0 auto;
  max-width: 1790px;
  padding: 0 15px;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
/* HEADER */
.header {
  padding-top: 64px;
  margin-bottom: 843px;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.logo {
  font-family: playfair, sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.nav {
  font-family: gilroy, sans-serif;
  font-weight: 700;
  font-size: 18px;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li + li {
    margin-left: 40px;
  }

  a {
    color: $textcolor;
    text-decoration: none;
    transition: color .2s ease-in;
    position: relative;
    &:hover {
      color: #FBD784;
    }
    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #FBD784;
      opacity: 0;
      transition: all .2s ease-in;
    }    
    &:hover::after {
      bottom: 0;
      opacity: 1;
    }
  }

}

.nav-button {
  height: 25px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 9;
  &:focus, :active {
    outline: none;
  }
}

.nav-button-icon {
  width: 42px;
  height: 5px;
  border: none;
  background-color: #fff;
  position: relative;
  display: block;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #fff;
    width: 42px;
    height: 5px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #fff;
    width: 42px;
    height: 5px;
  }
}

.nav-button-close .nav-button-icon {
  background-color: transparent;
  &::before {
    transform: rotate(45deg);
    top: 0;
  }
  &::after {
    transform: rotate(-45deg);
    top: 0;
  }
}

.mobile-nav {
  position: fixed;
  display: none;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: rgba(11,29,38, .8);
  padding: 70px 70px 50px 30px;
  .nav{
    display: block;
  }
  .nav ul {
    flex-direction: column;
    li {
      margin: 0;
      margin-bottom: 25px;
    }
  }
  .account {
    display: block;
  }
}

.account {
  font-family: gilroy, sans-serif;
  font-weight: 700;
  font-size: 17px;
  position: relative;
  padding-left: 30px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background-image: url('../images/dist/icons/account.svg');
    background-size: contain; 
  }
  a {
    text-decoration: none;
    color: $textcolor;
    transition: color .2s ease-in;
    &:hover {
      color: #FBD784;
    }
  }
}

/* HERO */
.hero {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  text-decoration: none;
  transition: transform .5s cubic-bezier(0.970, 0.110, 0.760, 1.615);
  &:hover {
    transform: translateY(-5%);
  }
}

.hero-category {
  font-family: gilroy, sans-serif;
  font-style: 18px;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
  padding-left: 104px;
  position: relative;
  margin-bottom: 32px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 2px;
    background-color: #FBD784;
  }
}

.hero-title {  
  font-family: playfair, sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 1.136;
  color: $textcolor;
  text-transform: capitalize;
}

.hero-scroll {
  position: relative;
  display: inline-block;
  padding-right: 32px;
  font-family: gilroy, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: $textcolor;
  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    width: 16px;
    height: 24px;
    transform: translateY(-50%);
    background-image: url('../images/dist/icons/arrow_down.svg');
  }
}

/* ARTICLE */
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  flex-wrap: wrap;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.article-text {
  padding-left: 150px;
  max-width: 782px;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: -50%;
    // transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;
    font-family: gilroy, sans-serif;
    font-weight: 700;
    font-size: 240px;
    color: rgba(255,255,255, .1);
  }
  p {
    font-family: gilroy, sans-serif;
    font-style: 18px;
    font-weight: 700;
    line-height: 1.78;
    margin-bottom: 27px;
  }
}
.article-subtitle {
  font-family: gilroy, sans-serif;
  font-style: 18px;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
  position: relative;
  padding-left: 96px;
  margin-bottom: 32px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 2px;
    background-color: #FBD784;
  }
}
.article-title {
  max-width: 555px;
  margin-bottom: 27px;
  font-family: playfair, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  color: $textcolor;
}

.article-readme-more {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  font-family: gilroy, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  color: hsl(42, 94%, 75%);
  text-decoration: none;
  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    width: 24px;
    height: 16px;
    transform: translateY(-50%);
    background-image: url('../images/dist/icons/arrow_right.svg');
  }
}

/* FOOTER */
.footer {
  padding-bottom: 120px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-copyright-logo {
  margin-bottom: 24px;
}

.footer-copyright-desc {
  max-width: 303px;
  font-family: gilroy, sans-serif;
  font-style: 18px;
  font-weight: 700;
  line-height: 1.78;
  color: $textcolor;
}

.footer-copyright-terms {
  margin-top: auto;
  font-family: gilroy, sans-serif;
  font-style: 18px;
  font-weight: 700;
  line-height: 1.78;
  color: rgba(255,255,255, .5);
}

.footer-nav-wrapper {
  display: flex;
}

.footer-nav-title {
  font-family: gilroy, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: #FBD784;
  margin-bottom: 24px;
}

.footer-nav {
  min-width: 200px;
  font-family: gilroy, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.78;
  & + .footer-nav {
    margin-left: 212px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: -16px;
  }
  li {
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
    color: $textcolor;
    position: relative;
    padding-bottom: 5px;
    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $textcolor;
      opacity: 0;
      transition: all .2s ease-in;
    }    
    &:hover::after {
      bottom: 0;
      opacity: 1;
    }
  }
}