// body, html {
//   height: 100%;
// }

// .header {
//   background-image: url('../images/dist/bg/bg.jpg');
//   height: 100%;
// }

/* BASE */
* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'gilroy', sans-serif;
  background-color: #0B1D26;
  background-image: url('../images/dist/bg/bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container-wide {
  margin: 0 auto;
  width: 1790px;
  padding: 0 15px;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
/* HEADER */
.header {
  padding-top: 64px;
  margin-bottom: 843px;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.logo {
  font-family: playfair, sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.nav {
  font-family: gilroy, sans-serif;
  font-weight: 700;
  font-size: 18px;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li + li {
    margin-left: 40px;
  }

  a {
    color: $textcolor;
    text-decoration: none;
    transition: color .2s ease-in;
    &:hover {
      color: #FBD784;
    }
  }

}

.account {
  font-family: gilroy, sans-serif;
  font-weight: 700;
  font-size: 17px;
  a {
    text-decoration: none;
    color: $textcolor;
    transition: color .2s ease-in;
    &:hover {
      color: #FBD784;
    }
  }
}

/* HERO */
.hero {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  text-decoration: none;
  transition: transform .5s cubic-bezier(0.970, 0.110, 0.760, 1.615);
  &:hover {
    transform: translateY(-5%);
  }
}

.hero-category {
  font-family: gilroy, sans-serif;
  font-style: 18px;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
  padding-left: 104px;
  position: relative;
  margin-bottom: 32px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 2px;
    background-color: #FBD784;
  }
}

.hero-title {  
  font-family: playfair, sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 1.136;
  color: $textcolor;
  text-transform: capitalize;
}

.hero-scroll {
  position: relative;
  display: inline-block;
  padding-right: 32px;
  font-family: gilroy, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: $textcolor;
  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    width: 16px;
    height: 24px;
    transform: translateY(-50%);
    background-image: url('../images/dist/icons/arrow_down.svg');
  }
}

/* MAIN */
.container {
  max-width: 1462px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ARTICLE */
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.article-text {
  padding-left: 150px;
  max-width: 782px;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: -50%;
    // transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;
    font-family: gilroy, sans-serif;
    font-weight: 700;
    font-size: 240px;
    color: rgba(255,255,255, .1);
  }
  p {
    font-family: gilroy, sans-serif;
    font-style: 18px;
    font-weight: 700;
    line-height: 1.78;
    margin-bottom: 27px;
  }
}
.article-subtitle {
  font-family: gilroy, sans-serif;
  font-style: 18px;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
  position: relative;
  padding-left: 96px;
  margin-bottom: 32px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 2px;
    background-color: #FBD784;
  }
}
.article-title {
  max-width: 555px;
  margin-bottom: 27px;
  font-family: playfair, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  color: $textcolor;
}

.article-readme-more {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  font-family: gilroy, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  color: hsl(42, 94%, 75%);
  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    width: 24px;
    height: 16px;
    transform: translateY(-50%);
    background-image: url('../images/dist/icons/arrow_right.svg');
  }
}
.article-img {
}